/* Add some global styles here! */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

:root {
  --text: #060704;
  --background: #fbfcfa;
  --primary: #8ba36b;
  --secondary: #acbad0;
  --accent: #83b6bb;
}

button.btn-small {
  font-size: 80%;
  color: black;
  background: var(--secondary);
}

button.button-error {
  color: white;
  background: var(--accent);
}

button.pure-button-primary {
  color: black;
  background: var(--secondary);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

body {
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  height: 100%;
  margin: auto;
}

html {
  height: 100%
}